/* ================= FONTS ================= */
@font-face {
  font-family: "Ppneuebit";
  src: url("../fonts/ppneuebit-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ppmonowest";
  src: url("../fonts/ppmonowest-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}


/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= GLOBAL ================= */
body {
  background: white;
  color: black;
  font-family: sans-serif;
}

body.home {
  overflow: hidden;
}

.pixel-font {
  font-family: "Ppneuebit", Impact, sans-serif;
}

h1, h2 {
  font-family: "Ppneuebit", Impact, sans-serif;
}
