.project-page {
  padding: 160px 80px 80px;
  max-width: 1100px;
  margin: auto;
  color: black;
  background: white;
}

.project-page h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.project-meta {
  display: flex;
  gap: 60px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.project-description {
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 60px;
}

.project-video video {
  width: 100%;
  margin-bottom: 40px;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-gallery img {
  width: 100%;
  object-fit: cover;
}

.project-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-family: "Ppneuebit";
}

.project-nav a {
  color: #000;           
  text-decoration: none; 
}


