/* ================= SOFTWARE HERO ================= */
.hero-software {
  background: url("../assets/images/banner.jpg") center/cover no-repeat;
  padding: 100px 60px;
  color: white;
}

.hero-software h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

/* ================= FEATURES ================= */
.features {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

/* ================= EXPLORE ================= */
.explore {
  display: flex;
  padding: 80px 60px;
  position: relative;
}

.explore-video {
  width: 60%;
  height: 300px;
  position: relative;
  overflow: hidden;
  background: black;
}

.explore-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-card {
  background: white;
  color: black;
  padding: 40px;
  width: 35%;
  margin-left: 1px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.15);
}

/* ================= PORTFOLIO ================= */
.portfolio {
  padding: 80px 60px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.project img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.project span {
  display: block;
  margin-top: 10px;
  text-align: center;
}
.project {
  display: block;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
}

/* ================= CTA ================= */
.cta {
  padding: 80px 60px;
}
